@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/table/lib/css/table.css";

body {
  background-color: #182026;
}

.bp3-tab-list{
	padding-top: 30px
}

#bp3-tab-title_undefined_buysell{
	font-size: 30px;
	font-weight: 500;
	color:#d5e0e0;
}

.bp3-tab-indicator-wrapper .bp3-tab-indicator{
  position:absolute;
  right:0;
  bottom:-5px;
  left:0;
  background-color:#d5e0e0;
  height:3px;
}

.tables{
    width: 85%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    table-layout: fixed;

}
.headings{
    size: 5px;
    color: white;
    right: 100px;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;

}

#icon{
padding: 5px 10px;
font-size: 12px;
line-height: 1;
margin-left: 10px;
margin-top: 5px;

}

#teamlogo{
 background-image: url()
}

.columns{
    width: 50px;
    overflow: hidden;
}

#questions{

    margin-left: 300px;
    color: antiquewhite;
}

#strategybutton1{
    padding: 1px 1px;
    margin-top: 3px;
    margin-right: 0px;
    margin-left: 25px;
    align-content: center;
    text-shadow: 1px 1px 1px #ccc;
}

#strategybutton2{
    padding: 1px 1px;
    margin-top: 3px;
    margin-right: 15px;
    margin-left: 25px;
    align-content: center;
    text-shadow: 1px 1px 1px #ccc;
}

.rowComponents{
  display:flex; flex-direction:row;
  width: 85%;
  margin-top:30px;
  
}

.rowComponents>div{
  
  width: 600px;

}
.bp3-table-column-name{
  font-size: 11px
}

.bp3-table-body-cells{
  font-size: 5px
}

#projectlogo{
  image: url('C:\\Users\\Administrator\\Desktop\\New folder\\lejit\\frontend\\src\\Projectlogo.jpg')
}

